.footer {
  width: 100%;
  height: 100vh;
  margin-top: 20px;
  /* position: sticky;
    bottom: 0; */
}

.footer__top {
  background-color: #232f3e;
  display: flex;
  justify-content: space-evenly;
  color: white;
  padding: 40px 0px;
  border-bottom: 1px solid rgb(70, 70, 70);
}
.footer__topRow {
  padding-left: 30px;
  display: flex;
  flex-direction: column;
}

.footer__topLine {
  font-size: 15px;
  font-weight: 900;
}

.footer__topRow > small {
  margin: 5px 0px;
  font-weight: 700;
  color: gray;
  cursor: pointer;
}

.footer__middle {
  display: flex;
  flex-direction: column;
  background-color: #232f3e;
  justify-content: center;
  align-items: center;
  padding: 30px 0px 0px 20px;
}

.footer__middleLogo {
  margin: 0px auto 10px auto;
  object-fit: contain;
  width: 100px;
  background-color: #232f3e;
}
.footer__middleSecondRow {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer__middleSecondRow > small {
  color: lightgray;
  font-weight: 600;
  padding: 0px 10px 10px 0px;
}

.footer__bottom {
  background-color: #131a22;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer__bottomLink {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 45px;
}

.footer__bottomLink > a {
  color: white;
  font-weight: 700;
  font-size: 12px;
}

.footer__bottomText > p {
  font-size: 15px;
  letter-spacing: 3px;
  color: gray;
}

@media screen and (max-width: 780px) {
  .footer__bottomLink {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 25px;
  }

  .footer__bottomText > p {
    font-size: 10px;
    letter-spacing: 3px;
    color: gray;
    padding: 10px;
  }

  .footer__middleSecondRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }
}
