@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700&display=swap');

.gallery {
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-family: 'Red Hat Display', sans-serif;
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
}

.galleryContainer {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.galleryHeader {
  width: 90%;
  display: flex;
  align-items: center;
}

.galleryHeader > h1 {
  text-align: center;
  flex: 1;
  font-family: 'Red Hat Display', sans-serif;
  margin: 2rem 0;
  font-size: 1.8rem;
  background: linear-gradient(90deg, #ff512f 0%, #f09819 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  letter-spacing: 1px;
}

.galleryHeader__right {
  display: flex;
  align-items: center;
}

.galleryHeader__right > p {
  margin-right: 0.3rem;
  cursor: pointer;
  color: #000;
  font-weight: 600;
  border-bottom: 1px solid gray;
  padding-bottom: 5px;
}

.galleryContainer__cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.galleryContainer__cards > img {
  min-width: 18%;
  height: 22vh;
  margin-top: 1rem;
}

.galleryContainer > .MuiButton-outlinedSecondary {
  color: #f77a23;
}

.view__more {
  margin-top: 2rem !important;
  padding: 5px 1rem !important;
  margin-bottom: 1rem !important;
  border: 2px solid #f77a23 !important;
  text-transform: capitalize !important;
}

.view__more:hover {
  border: 2px solid #f77a23 !important;
}

.MuiButton-label {
  font-size: 0.9rem;
  font-family: 'Red Hat Display', sans-serif;
  letter-spacing: 1px;
  color: black;
}

.awesome__slider {
  width: 30vw;
}

.awssld {
  width: 40% !important;
  max-width: 40% !important;
}

.awssld__bullets {
  display: none !important;
}

@media screen and (max-width: 500px) {
  .galleryContainer__cards {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .galleryContainer {
    width: 100%;
    flex-direction: column;
  }

  .awssld {
    width: 75% !important;
    max-width: 75% !important;
    margin-bottom: 1rem;
  }
}
