@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Basic&family=Proza+Libre&family=Titillium+Web&display=swap');

.galleryContainer,
.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.gallery > h1 {
  margin: 2rem 0 4rem 0;
  font-size: 1.5rem;
  position: relative;
  font-family: 'Lobster', cursive;
}

.gallery > h1::after {
  position: absolute;
  content: '';
  margin-left: 2rem;
  bottom: -2px;
  width: 10vw;
  border: 1px solid #2c5877;
}

.gallery > h1::before {
  position: absolute;
  content: '';
  display: inline-block;
  left: -12.5vw;
  bottom: -2px;
  width: 10vw;
  border: 1px solid #2c5877;
}
