@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Basic&family=Proza+Libre&family=Titillium+Web&display=swap');

.hostel {
  width: 100vw;
  min-height: 100vh;
}

.hostelContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hostelContainer > h1 {
  margin: 1.5rem 0;
  text-align: center;
  font-size: 1.5rem;
  position: relative;
  font-family: 'Lobster', cursive;
}

.hostelContainer > h1::before {
  position: absolute;
  content: '';
  display: inline-block;
  left: -11.5vw;
  bottom: -2px;
  width: 10vw;
  border: 1px solid #2c5877;
}

.hostelContainer > h1::after {
  position: absolute;
  content: '';
  margin-left: 1rem;
  bottom: -2px;
  width: 10vw;
  border: 1px solid #2c5877;
}

.hostelContainer > img {
  width: 95%;
}

.hostelContainer__about {
  margin-top: 4rem;
  width: 90%;
}

.hostelContainer__about > p {
  text-align: justify;
  font-family: 'Titillium Web', sans-serif;
}

.hostelContainer__list {
  margin-top: 2rem;
  width: 90%;
  display: flex;
  flex-direction: column;
}

.hostelContainer__list > h2 {
  font-weight: 500;
  font-family: 'Catamaran', sans-serif;
  color: #6b6b6b;
}

.hostelContainer__listContainer {
  margin-top: 1rem;
  display: flex;
}

.hostelContainer__listLeft {
  display: flex;
  flex-direction: column;
  padding: 0 6rem 0 1rem;
}

.hostelContainer__listLeft > h3 {
  font-family: 'Gentium Basic', serif;
  color: #f96f26;
}

.hostelContainer__listRight > h3 {
  font-family: 'Gentium Basic', serif;
  color: #f96f26;
}

.hostelContainer__listRow {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.hostelContainer__listRow > img {
  width: 20px;
  margin-right: 10px;
}

.hostelContainer__rules {
  margin-top: 2rem;
  width: 90%;
}

.hostelContainer__rulesGeneral {
  display: flex;
  flex-direction: column;
}

.hostelContainer__rulesGeneral > h2 {
  margin: 1.5rem 0;
  font-weight: 400;
  color: #6b6b6b;
}

.hostelContainer__rulesGeneral > h3 {
  margin: 1.5rem 0;
  color: #6b6b6b;
}

.hostelContainer__rulesRow {
  display: flex;
  align-items: start;
}

.hostelContainer__rulesRow > p {
  margin-bottom: 0.5rem;
  text-align: justify;
  font-family: 'Titillium Web', sans-serif;
  margin-left: 0.5rem;
}

@media screen and (max-width: 780px) {
  .hostelContainer__list > h2 {
    font-size: 1.25rem;
  }
}
