.accordionHead {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: #f96f26;
  padding: 5px 15px;
}

.MuiAccordionSummary-root {
  align-items: center !important;
}

.MuiAccordionSummary-content > h3 {
  display: flex;
  align-items: center;
  font-weight: 600;
}

.homeFAQ,
.homeFAQContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeFAQ {
  margin-top: 2rem;
  flex-direction: column;
}

.homeFAQ > h1 {
  font-size: 1.3rem;
  color: #f96f26;
  padding-left: 1rem;
  text-align: start;
  border-left: 3px solid #f96f26;
  font-family: 'Catamaran', sans-serif;
  margin-bottom: 1rem;
}

.homeFAQContainer {
  width: 60%;
}

@media screen and (max-width: 768px) {
  .MuiAccordionSummary-content > h3 {
    font-size: 0.825rem;
  }
  .homeFAQContainer {
    width: 100%;
  }
  .accordionHead {
    padding: 5px 10px;
    margin-right: 0.5rem;
  }
  .homeFAQ > h1 {
    font-size: 1.2rem;
  }
}
