.hodCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: linear-gradient(45deg, #ffffff, #f0efef);
  box-shadow: 7px -7px 14px #fffbfb, -7px 7px 14px #ffffff;
  padding: 0 20px;
}

.hodCard > img {
  border-radius: 999px;
  width: 10rem;
  margin-top: -4rem;
  object-fit: contain;
}

.hodCard > h3 {
}

.hodCardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
}

.hodCardContainer > h3 {
  text-align: center;
  font-size: 1rem;
}

.hodCardContainer > h3:first-child {
  color: #f60c0c;
  letter-spacing: 1px;
  margin-top: 0.6rem;
}

.hodCardContainer__content {
  margin-top: 0.6rem;
  display: flex;
  flex-direction: column;

  justify-content: flex-end;
}

.hodCardContainer__content > p {
  margin-top: 0.7rem;
}

.hodCard__contact {
  margin-top: 0.7rem;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.hodCard__contact > .MuiSvgIcon-root {
  margin-right: 10px;
  font-size: 1.4rem;
}

.hodCard__contact > p {
  margin-left: 10px;
}

.hodCardContainer > button {
  margin-top: 1rem;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.hodCardContainer > button > .MuiButton-label {
  color: #f60c0c;
}

@media screen and (max-width: 780px) {
  .hodCard {
    padding: 0 5px;
  }
  .hodCard > img {
    width: 8rem;
  }
}
