@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Red Hat Display', sans-serif;
}

html,
body {
  overflow: initial !important;
}

a,
span {
  font-family: 'Red Hat Display', sans-serif;
  text-decoration: none;
}

* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to bottom, #ff2600, #ff9100);
  border-radius: 6px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 0px;
}

::-moz-selection {
  /* Code for Firefox */
  color: rgb(173, 172, 169);
  background: rgb(32, 32, 32);
}

::selection {
  color: rgb(173, 172, 169);
  background: rgb(32, 32, 32);
}
